<a href="https://colab.research.google.com/github/samuel-franco/Mini-Projeto-de-An-lise-de-Dados-em-Python/blob/main/Curso_Basico_de_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Passo a passo da solução do Desafio**

Atenção *LEMBRETE!*

Toda vez que eu for resolver algum problema de programação

Tenho que escrever **o passo a passo até o final**

ou seja é a lógica de programação da solução do problema.

Lógica de programação

Passo 0 - Entender o desafio ou problema para ser resolvido

Passo 1 - Percorrer todos os arquivos da base de dados da pasta (Vendas)

Passo 2 - Importar as bases de dados de vendas

Passo 3 - Tratar / compilar a base de dados

Passo 4 - Calcular o produtor mais vendido (em quantidade)

Passo 5 - Calcular o produtor que mais faturou (em faturamento)

Passo 6 - Calcular a loja/cidade que mais vendeu (faturamento) - criar gráfico/dashboard

Uma outra forma de exibir os arquivos da pasta vendas é

É usar em vez da função print() usar a função display().
A função display faz a mesma coisa que função print. A diferença é que o display deixa o código mais clean.

In [5]:

import os
import pandas as pd

lista_arquivo = os.listdir('/content/drive/MyDrive/Curso Básico de Python/Vendas')
display(lista_arquivo)

['Devolucoes - Salvador.csv',
 'Devolucoes - Fortaleza.csv',
 'Devolucoes - Goiás.csv',
 'Vendas - Rio de Janeiro.csv',
 'Devolucoes - Curitiba.csv',
 'Devolucoes - São Paulo.csv',
 'Devolucoes - Belo Horizonte.csv',
 'Devolucoes - Recife.csv',
 'Vendas - Goiás.csv',
 'Vendas - Fortaleza.csv',
 'Vendas - Porto Alegre.csv',
 'Devolucoes - Porto Alegre.csv',
 'Vendas - Salvador.csv',
 'Vendas - Curitiba.csv',
 'Vendas - Recife.csv',
 'Vendas - São Paulo.csv',
 'Vendas - Belo Horizonte.csv',
 'Devolucoes - Rio de Janeiro.csv']

In [6]:
tabela_total = pd.DataFrame()

for arquivo in lista_arquivo:
  # se tem "Vendas" o no nome do arquivo, então
  if 'Vendas' in arquivo:
    # importar arquivo
    tabela = pd.read_csv(f'/content/drive/MyDrive/Curso Básico de Python/Vendas/{arquivo}')
    tabela_total = tabela_total.append(tabela)
    
display(tabela_total)

<ipython-input-6-2c1530983677>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-6-2c1530983677>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-6-2c1530983677>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-6-2c1530983677>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-6-2c1530983677>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-6-2c1530983677>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-6-2c1530983677>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-6-2c1530983677>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-6-2c1530983677>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,8,HL4379,Televisão,4,Jessica,Cordovil,2/11/2018,Rio de Janeiro,2500,NaN
1,12,HL1918,iPhone,2,Camilla,Guimarães,10/4/2018,Rio de Janeiro,5300,NaN
2,21,HL4379,Televisão,5,Katharina,Barros,3/26/2018,Rio de Janeiro,2500,NaN
3,39,HL9962,Android,1,Rodrigo,Silva,1/14/2018,Rio de Janeiro,3400,NaN
4,41,HL4379,Televisão,3,Júlio,Freire,6/30/2018,Rio de Janeiro,2500,NaN
...,...,...,...,...,...,...,...,...,...,...
644,9910,HL1148,Câmera,4,Norman,Jimbo,2/17/2018,Belo Horizonte,2100,NaN
645,9927,HL2714,Tablet,2,Marina,Marins,1/29/2018,Belo Horizonte,1600,NaN
646,9932,HL1918,iPhone,1,José,Vieira,5/11/2018,Belo Horizonte,5300,NaN
647,9942,HL4379,Televisão,1,Fernanda,Junior,2/9/2018,Belo Horizonte,2500,NaN
648,9978,HL8851,Notebook,2,Mariane,Racy,12/28/2018,Belo Horizonte,3500,NaN

In [7]:
# Passo 4 - Calcular o produtor mais vendido (em quantidade)
tabela_produtos = tabela_total.groupby('Produto').sum()
tabela_produtos = tabela_produtos[['Quantidade Vendida']].sort_values(by='Quantidade Vendida', ascending=False)
display(tabela_produtos)

<ipython-input-7-2ba8a37741f9>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tabela_produtos = tabela_total.groupby('Produto').sum()

            Quantidade Vendida
Produto
iPhone                    8974
Televisão                 5931
Notebook                  3249
Android                   3183
SmartWatch                2980
Tablet                    2921
Câmera                    2805

In [8]:
# Passo 5 - Calcular o produtor que mais faturou (em faturamento)
tabela_total['Faturamento'] = tabela_total['Quantidade Vendida'] * tabela_total['Preco Unitario']

tabela_faturamento = tabela_total.groupby('Produto').sum()
tabela_faturamento = tabela_faturamento[['Faturamento']].sort_values(by='Faturamento', ascending=False)
display(tabela_faturamento)

<ipython-input-8-790cf36f6be9>:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tabela_faturamento = tabela_total.groupby('Produto').sum()

            Faturamento
Produto
iPhone         47562200
Televisão      14827500
Notebook       11371500
Android        10822200
Câmera          5890500
Tablet          4673600
SmartWatch      4172000

In [9]:
# Passo 6 - Calcular a loja/cidade que mais vendeu (faturamento) - criar gráfico/dashboard
tabela_lojas = tabela_total.groupby('Loja').sum()
tabela_lojas = tabela_lojas[['Faturamento']]
display(tabela_lojas)

<ipython-input-9-81f086e5c62f>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tabela_lojas = tabela_total.groupby('Loja').sum()

                Faturamento
Loja
Belo Horizonte      6480300
Curitiba            7060500
Fortaleza          14087900
Goiás               7441800
Porto Alegre        6868600
Recife              7303000
Rio de Janeiro     14867800
Salvador           13111300
São Paulo          22098300

In [10]:
import plotly.express as px

grafico = px.bar(tabela_lojas, x=tabela_lojas.index, y='Faturamento')
grafico.show()